<h2>About Me</h2>
<p>I'm just a cool dude tryna code.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/zpear">GitHub Profile</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/zachary-pear-aa7b5a139/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-text fa-lg main-list-item-icon"></span>
    <a href="{{ site.compass.url }}/resume.pdf">Resume</a>
  </li>
</ul>
